body {
    /*background: url(../images/bg2.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    background-color: #5bc0de;

}

.panel-default.panel-default .panel-heading {
    background-color: #f0ad4e !important;
}

.panel {
    border-color: #5bc0de !important;
}

.navbar {

    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}
